<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Salut <%= @user.email %> et bienvenue chez nous !</h1>
    <p>
      Tu t'es inscrit sur notre super boutique de photos de chats en utilisant l'e-mail suivant : <%= @user.email %>.
    </p>
    <p>
      Pour accéder à ton espace client.
    </p>
    <p> À très vite sur notre boutique !</p>
  </body>
</html>
