<html>
  <div style="background-image: url(https://image.noelshack.com/fichiers/2023/23/2/1686037590-wallpaperflare-com-wallpaper.jpg); background-repeat: no-repeat; background-size: cover; background-position: center;">

    <div class="container">
      <h1 class="display-10">Contactez-nous</h1>
      <p class="p" style="font-size:18px">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ac urna vitae nunc fringilla blandit.
      </p>
      <div class="row">
        <div class="col-auto">
          <a class="btn btn-primary btn" href="#" role="button">Envoyer un message</a>
        </div>
      </div>
    </div>
  </div>
</html>