<header>
  <% if params[:success] %>
  <div class="alert alert-success" role="alert">
    Votre a-chat a été ajouté à votre panier !
  </div>
  <% end %>
   <% if params[:alert] %>
  <div class="alert alert-danger" role="alert">
    Vous devez être connecté pour ajouter un a-chat à votre panier !
  </div>
  <% end %>
    <% if params[:access_denied] %>
  <div class="alert alert-danger" role="alert">
    Vous n'avez pas accès à cet espace !
  </div>
  <% end %>
  <%= render partial: 'banner'%>
</header>

<main>
  <div class="product_section">
    <div class="container">
      <div class="row p-5 m-5">
        <% @items.sort_by(&:updated_at).reverse.each do |item| %>
          <% if item.is_hidden == false %>
            <div class="col-md-4 mb-4">
              <%= render partial: 'items/card', locals: { item: item } %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</main>
